<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Twilio Video Call</title>
  </head>
  <body>
    <h1>Index Page</h1>
    <button id="chat_btn">Chat</button>
    <script src="main.js"></script>
  </body>
</html>
